<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NEW otter</title>
</head>

<body>
    <h1>Make a new otter</h1>
    <br>



    <form action='/otters' method='post'>
        <input type="text" name="name">
        <input type='submit' value='Make that otter'>
    </form>
</body>

</html>