<div style="text-align:center">
    <h1>{{ title }}</h1>
    <h3>{{ tag_line }}</h3>
</div>
<div>
    <h3> New Pet: </h3>
    <div *ngIf='error_check'>
        <p *ngFor='let item of error_arr'>Error: {{ item.bullshit }}</p>
    </div>
    <form (submit)='on_submit()'>
        <!-- <p> {{new_pet | json }} </p> -->
        Name:
        <input type='text' name='new_pet.Name' [(ngModel)]='new_pet.Name'>
        <br> Type:
        <input type='text' name='new_pet.type' [(ngModel)]='new_pet.type'>
        <br> Description:
        <input type='text' name='new_pet.description' [(ngModel)]='new_pet.description'>
        <br> Skill One:
        <input type='text' name='new_pet.skill_1' [(ngModel)]='new_pet.skill_1'>
        <br> Skill Two:
        <input type='text' name='new_pet.skill_2' [(ngModel)]='new_pet.skill_2'>
        <br> Skill Three:
        <input type='text' name='new_pet.skill_3' [(ngModel)]='new_pet.skill_3'>
        <br>
        <button (click)='cancel_click()'>Cancel</button> &nbsp;
        <input type='submit' value='Create pet'>
    </form>
</div>